---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: '題名'
    value: page.label
  - label: '書名'
    value: page.書名
  - label: '請求記号'
    value: page.請求記号
  - label: '画工名'
    value: page.画工名
  - label: '和暦年月日'
    value: page.和暦年月日
  - label: '版元名'
    value: page.版元名
  - label: '版元住所'
    value: page.版元住所
  - label: '判'
    value: page.判
  - label: '形態'
    value: page.形態
  - label: '彩色'
    value: page.彩色
  - label: '検印状況'
    value: page.検印状況
  - label: '主題'
    value: page.主題
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
